
:root {
    
    --bg-color: #19021c;
    --header-color: #5e0766;
    --text-color: #f5e9ff;

    --card-bg: #f5e9ff;
    --card-text: #22004a;

    --button-bg: #5e0766;
    --button-text: #f5e9ff;

    --border-color: #f5e9ff;

    --input-bg: #f5e9ff;
    --input-text: #22004a;
}


body.light-mode {
    --bg-color: #ffffff;
    --header-color: #e4d8ff;
    --text-color: #22004a;

    --card-bg: #ffffff;
    --card-text: #22004a;

    --button-bg: #ffffff;
    --button-text: #5e0766;

    --border-color: #5e0766;

    --input-bg: #ffffff;
    --input-text: #22004a;
}


body {
    margin: 0;
    background-color: var(--bg-color);
    font-family:  Arial, Helvetica, sans-serif;
    color: var(--text-color);
    transition: background 0.3s, color 0.3s;
}


header {
    background-color: var(--header-color);
    padding: 10px 0;
    border-bottom: 4px solid var(--border-color);
    transition: background 0.3s, border-color 0.3s;
}

.nav-container {
    width: 95%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}


.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}


.search-bar {
    display: flex;
    gap: 5px;
}

.search-bar input {
    padding: 8px;
    border-radius: 6px;
    border: none;
    background: var(--input-bg);
    color: var(--input-text);
    width: 160px;
    transition: background 0.3s, color 0.3s;
}

.search-bar button {
    padding: 8px 14px;
    border: 2px solid var(--border-color);
    background: var(--button-bg);
    color: var(--button-text);
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.search-bar button:hover,
nav a:hover,
.icon-btn:hover,
#toggle:hover {
    background-color: var(--button-text);
    color: var(--button-bg);
    transform: scale(1.05);
}


#toggle {
    padding: 8px 12px;
    border-radius: 6px;
    background-color: var(--button-bg);
    border: 2px solid var(--border-color);
    color: var(--button-text);
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
}

.account-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-btn {
    padding: 8px 12px;
    border-radius: 6px;
    background-color: var(--button-bg);
    border: 2px solid var(--border-color);
    color: var(--button-text);
    text-decoration: none;
    font-weight: bold;
    display: flex;
    gap: 6px;
    align-items: center;
    transition: 0.3s;
}


nav {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
}

nav a {
    padding: 10px 15px;
    background: var(--button-bg);
    border-radius: 6px;
    border: 2px solid var(--border-color);
    color: var(--button-text);
    text-decoration: none;
    transition: 0.3s;
}

nav a.active {
    background: var(--button-text);
    color: var(--button-bg);
}

.about-section {
    background-color: var(--card-bg);
    padding: 30px;
    width: 90%;
    margin: auto;
    border-radius: 15px;
    text-align: center;
    color: var(--card-text);
    border: 2px solid var(--header-color); 
    transition: background 0.3s, color 0.3s, border-color 0.3s; 
}






img {
    border-radius: 15px;
    gap: 50px;
}



